PORT=8080
JWT_SECRET=devsecret
INTERNAL_JWT_SECRET=devsecret
IDENTITY_URL=http://identity-svc:8081
SHIPMENT_URL=http://shipment-svc:8082
PRICING_URL=http://pricing-svc:8083
LABEL_URL=http://label-svc:8084
TRACKING_URL=http://tracking-svc:8085
OTEL_EXPORTER_OTLP_ENDPOINT=

